.mainColumn {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.logo { 
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
}

.links:link,
.links:visited {
  margin: 20%;
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

.links:hover,
.links:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

.pfImg {
  margin-left: 25%;
  width: 50%;
  height: auto;
  overflow: hidden;
  background-color: #000;
  -webkit-transform: scale(1.);
  -ms-transform: scale(1.);
  transform: scale(1.);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}


.pfImg:hover {
  
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}